<div class="container">
  <!--<img [src]="run?.imageUrl" [alt]="run?.name" class="event-image">-->

  <div class="row">
    <div class="col-md-11">
      <h2>{{run?.name}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Creator:</strong> {{run?.name}}</div>
      <div><strong>Date:</strong> {{run?.date}}</div>
      <div><strong>Time:</strong> {{run?.time}}</div>
      <div><strong>Distance:</strong> {{run?.distance}}</div>
      <div><strong>Location:</strong> {{run?.location?.name}}</div>
      <sebm-google-map [latitude]="run?.location?.latitude" [longitude]="run?.location?.longtitude" [scrollwheel]="true" [zoom]="12">
        <sebm-google-map-marker [latitude]="run?.location?.latitude" [longitude]="run?.location?.longtitude"></sebm-google-map-marker>
      </sebm-google-map>
      <!--<div *ngIf="run?.hasOwnProperty('like')" ><strong>Like:</strong>&nbsp;-->
        <!--<div class="radio">-->
        <!--<label><input type="radio" (click)="radioButtonClick('yes')" [checked]="run?.like" name="optradio">Yes</label>-->
        <!--</div>&nbsp;-->
        <!--<div class="radio">-->
          <!--<label><input type="radio"  (click)="radioButtonClick('no')"  [checked]="!run?.like" name="optradio">No</label>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div *ngIf="routeUrl!='historyruns'">
    <div *ngIf = "!run?.sign" class="beThereBtn"><button (click)="signToRun(run?.$key)">Sign To the Run</button></div>
    <div *ngIf = "run?.sign" class="Cancel"><button (click)="cancelSign(run?.$key)">Cancel sign Up</button></div>
  </div>
</div>
