<div class="container">
  <!--<img [src]="run?.imageUrl" [alt]="run?.name" class="event-image">-->

  <div class="row">
    <div class="col-md-11">
      <h2>{{run?.name}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Creator:</strong> {{run?.name}}</div>
      <div><strong>Date:</strong> {{run?.date}}</div>
      <div><strong>Time:</strong> {{run?.time}}</div>
      <div><strong>Location:</strong> {{run?.location}}</div>
    </div>
  </div>
</div>
